@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.dark .dark\:bg-gray-900,
.bg-blue-800 {
  --tw-bg-opacity: 1;
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
}

html {
  font-family: 'Poppins', sans-serif;
  background: #091540;
  color: #FFF;
}

.text-gray-800 {
  color: #FFF;
}

.w-\[30px\].flex.flex-col.relative.items-end,
.lg\:pl-2,
.text-gray-800.w-full.md\:max-w-2xl.lg\:max-w-3xl.md\:h-full.md\:flex.md\:flex-col.px-6.dark\:text-gray-100,
.hidden.md\:fixed.md\:inset-y-0.md\:flex.md\:w-52.md\:flex-col.bg-blue-900,
.text-xs.text-black\/50.dark\:text-white\/50.pt-2.pb-3.px-3.md\:pt-3.md\:pb-6.md\:px-4.text-center,
.dark.hidden.bg-blue-900 {
  display: none !important;
}

.flex.flex-1.flex-col.md\:pl-52.h-full {
  padding-left: 0;
  padding-top: 20px;
}

.md\:pl-\[260px\] {
  padding: 0;
}

form {
  margin-bottom: 12px;
}

.dark .dark\:text-gray-100,
.bg-vert-light-gradient,
.dark .dark\:bg-vert-dark-gradient,
.dark .dark\:shadow-\[0_0_15px_rgba\(0\2c 0\2c 0\2c 0\.10\)\] {
  background: transparent;
}

form .dark .dark\:bg-vert-dark-gradient,
.dark .dark\:shadow-\[0_0_15px_rgba\(0\2c 0\2c 0\2c 0\.10\)\] {
  background: #0915400d;
  color: #FFF;
}

.dark .dark\:bg-gray-900,
.bg-blue-800 {
  background: #091540;
}

form .bg-white {
  background: #0F9DE8;
}

form .text-gray-500 {
  color: #FFF !important;
  display: none;
}

.dark .dark\:border-gray-900\/50 {
  border-color: transparent;
}

.btn-neutral {
  background: transparent !important;
  border: 0;
  color: #FFF !important;
}

.prose,
.dark .dark\:text-gray-100 {
  color: #FFF;
}

.md\:py-6 {
  padding: 5px 0;
}
